h1{
  font-family:'Lora';
  font-size: 48px;
  text-align: center;
}

p{
  font-family:'Merienda';
  font-size: 28px;
  text-align: center;
}

span{
  font-family:'Lora';
  font-size: 22px;
  text-align: center;
}